<div class="bg-light lter b-b wrapper-md" ng-controller="SystemNewsPublishCtrl">
	<form class="form-horizontal">
		<div class="row" style="font-size: 18px;">
			<div class="form-group">
				<div class="col-sm-1 col-sm-offset-1" ng-click="refresh()">
					<i class="fa fa-refresh"></i>&nbsp;刷新
				</div>
				<div class="col-sm-1" ng-click="addSystemNews()"><i class="fa fa-plus-circle"></i>&nbsp;添加</div>
				<div class="col-sm-1" ng-click="editSystemNews()"><i class="fa fa-pencil"></i>&nbsp;编辑</div>
			</div>
		</div>
	</form>

	<div class="deparment-wrap">
		<div class="table-responsive">
			<table class="table table-striped b-t b-light table-hospital-info">
				<thead>
					<tr>
						<th>ID</th>
						<th>标题</th>
						<th>发布者</th>
						<th>发布时间</th>
						<th>接收范围</th>
						<th>附件</th>
						<th>操作者</th>
						<th>操作时间</th>
						<th>接收状态</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in systemNewsList track by $index" ng-click="operateData($index,item)">
						<td>{{item.ID}}</td>
						<td>{{item.Publisher}}</td>
						<td>{{item.PublishTime}}</td>
						<td>{{item.area}}</td>
						<td></td>
						<td>{{item.opreater}}</td>
						<td>{{item.operateTime}}</td>
						<td></td>
						<td></td>
						<!--<td>
								<a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
							</td>-->
					</tr>
				</tbody>

			</table>
			<!--分页-->
			<div style="width: 100%;" class="text-center" ng-if="pageList.length>0">
				<ul class="pagination pagination-sm m-t-none m-b-none">
					<li ng-click="goPre(currentPageNo)">
						<a href><i class="fa fa-chevron-left"></i></a>
					</li>
					<li ng-repeat="i in pageList" ng-click="goCurrentPage(i)">
						<a href>{{i}}</a>
					</li>
					<li ng-click="goNext(currentPageNo)">
						<a href><i class="fa fa-chevron-right"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="modal fade" id="modal_showAudit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:center">
			<div class="modal-dialog" style="width: 60%;margin-top: 100px;">
				<div class="modal-content">
					<div class="modal-header" style="position: relative;height: 60px;">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4>公告信息</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper-md">
							<form class="form-horizontal">
								<div class="row">
									<div class="form-group">
										<label class="col-sm-2 col-sm-offset-2 control-label text-right">标题：</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" placeholder="标题" ng-model="systemNewsDetail.title">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-sm-offset-2 control-label text-right">发布者：</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" placeholder="发布者" ng-model="systemNewsDetail.publisher">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-sm-offset-2 control-label text-right">发布时间：</label>
										<div class="col-sm-2">
											<div class="radio">
												<label class="i-checks">
                <input type="radio" name="a" value="1" ng-model="systemNewsDetail.publishTime">
                <i></i>
                	立即发布
              </label>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="radio">
												<label class="i-checks">
                <input type="radio" name="a" value="0" ng-model="systemNewsDetail.setTimeFlag" checked>
                <i></i>
                	定时发布
              </label>
											</div>
										</div>
										<div class="col-sm-2">
											<input type="text" readonly class="form-control form_datetime" id="certificate_date" placeholder="请选择时间" ng-model='systemNewsDetail.publishDate' value="2017-09-15">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-sm-offset-2 control-label text-right">接收范围：</label>
										<div class="col-sm-2">
											<div class="radio">
												<label class="i-checks">
                <input type="radio" name="a" value="0" ng-model="systemNewsDetail.area">
                <i></i>
                	科室
              </label>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="radio">
												<label class="i-checks">
                <input type="radio" name="a" value="1" ng-model="systemNewsDetail.area" checked>
                <i></i>
                	全院
              </label>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="radio">
												<label class="i-checks">
                <input type="radio" name="a" value="2" ng-model="systemNewsDetail.area" checked>
                <i></i>
                	平台
              </label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div id="summernote"><p>在此输入内容</p></div>
									</div>
								</div>

							</form>
						</div>

					</div>
					<div class="modal-footer" style="text-align: center;">
						<div style="display: inline-block;">
							<button type="button" class="btn btn-default" ng-click="subNurseInfo()">确定</button>
						</div>
						<div style="display: inline-block;">
							<button type="button" class="btn btn-default" ng-click="closeModal()">取消</button>
						</div>
					</div>
				</div>
				</divs>
			</div>
		</div>

	</div>
</div>