<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;" ng-keyup="enterEvent($event)">
	<div style="width: 100%;text-align: center;margin-bottom: 15px;">
		<img src="../img/login_logo.png" alt="" />
		<div style="display: inline-block;vertical-align: top;text-align: left;margin-left: 8px;font-weight:bold;">
			<div style="color: #48a2f8;font-size: 16px;margin-top: 8px;">LOGIN</div>
			<div style="font-size: 20px;">燕尾帽管理中心</div>
		</div>
	</div>
	<!--<a href class="navbar-brand block m-t">{{app.name}}</a>-->
	<div class="m-b-lg">
		<form name="form" class="form-validation">
			<div class="text-danger wrapper text-center" ng-show="authError">
				{{authError}}
			</div>
			<div class="list-group list-group-sm">
				<div class="list-group-item">
					<input type="text" placeholder="用户名" class="form-control no-border" ng-model="user.userID" required>
				</div>
				<div class="list-group-item">
					<input type="password" placeholder="密码" class="form-control no-border" ng-model="user.password" required>
				</div>
			</div>
			<button type="button" class="btn btn-lg btn-info btn-block" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
			<!--<div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">忘记密码?</a></div>-->

		</form>
	</div>
	<div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>